// Brand colors
@brand_primary: #528a36;
@brand_accent: #f6821f;
@bg-color: #dec9a3;
// Typography
@heading: "Museo Slab", serif;
@subheading: "Museo", sans-serif;
@body: "Open sans", "Helvetica Neue", Arial, sans-serif;

h1 {
  font-family: @heading;
  color: @brand_primary;
}

h2, h3 {
  font-family: @subheading;
  color: @brand_accent;
}

body {
  font-family: @body;
  background-color: @bg-color;
}

//Layout

//Media queries

//Feature queries
